table
{
	margin: 50px auto;
	border: 0px;
	border-radius: 5px;
	box-shadow: 0 0 0 3px gray;
	width: 70%;
	height: 250px;
	border-spacing: 0;
	border-collapse: separate;
}

tr:first-child
{
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: black;
	text-shadow: 0px 0px 1px white;
}

td
{
	padding: 10px;
	width: 150px;
	border-right: 1px solid black;
}

tr :last-child
{
	border-right: 0px;
}

tr
{
	height: 50px;
}


td:first-child:first-letter
{
	color: red;
	font-style: italic;
}

table tr:not(:first-child):hover
{
	background: linear-gradient(to left, #fefcea, #f1da36);
	background-attachment: fixed;
}

table:lang(ru) tr:not(:first-child) td:first-child:after
{
	content: "($)";
}

table:lang(ru) tr:not(:first-child) td:not(:first-child):after
{
	content: "(mln)";
}